/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: Segoe UI Light, Arial;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 60px;
  background-color: #f5f5f5;
}

#home h1{
	margin: 50px 0 20px;
	text-align:center;
	font-size: 6rem;
	font-family: 'Special Elite', cursive;
	text-transform: uppercase;
	text-shadow: 0px 0px 10px rgba(30, 30, 200, 0.8);
}
